/* Extra small devices (portrait phones, less than 544px)*/
/* No media query since this is the default in Bootstrap*/
body {
	background-image: url("./../img/background2.png");
}

#header {
	font-family: 'Indie Flower', cursive;
	width: 100%;
	text-align: center;
	background-color: #CB5671;
}

#container_tweets, #container_counter {
	margin: 0 auto;
	font-family: 'Scope One', serif;
	font-weight: 900;
}

#container_counter {
	margin-top: 10px;
}

#sender {
	color: #7CC252;
	font-size: 20pt;
}

#message {
	font-size: 12pt;
}

#timeStamp {
	font-size: 10px;

}

::-webkit-input-placeholder {
   color: #CB5671;
}

:-moz-placeholder { /* Firefox 18- */
   color: #CB5671;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #CB5671;  
}

:-ms-input-placeholder {  
   color: #CB5671;  
}

#replybox {
	display: none;
	border-radius: 5px;
}

#tweetbox, #replybox, #counterbox {
	margin-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	border-radius: 5px;
}

#input_tweet, #input_reply, #input_reply_sub, #input_counter_max {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	border-radius: 5px;
}

#input_sender, #input_reply_sender, #input_sender_sub {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	border-radius: 5px;
}

#button_tweet, #button_reply, #button_plus, #button_minus {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #CB5671;
}

.tweet {
	background-color: white;
	margin-top: 50px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.tweet:hover {
	background-color: #CB5671;
	cursor: pointer;
}

.icons {
	padding-top: 5px;
	cursor:pointer;
	text-align: center;
	font-size: 20px;
	background-color: #CB5671;
}

.icons:hover {
	background-color: white;
	cursor:pointer;
	border-radius: 5px;
}

.tweet_reply_container {
	padding-right: 0px;
}

.tweet_reply {
	background-color: white;
	margin-top: 10px;
	border-radius: 5px;
}




/* Small devices (landscape phones, 544px and up)
//@media (min-width: 544px) {}

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) {}*/